@font-face {
  font-family: 'IngiriArial';
  src: local("IngiriArial"),
  url("../public/assets/fonts/BPG Ingiri Arial.ttf") format("truetype");
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: local("BPG Nino Mtavruli"),
  url("../public/assets/fonts/BPG Nino Mtavruli.otf") format("truetype");
}
