@font-face {
  font-family: 'NinoMtavruli_Regular';
  src: url("/public/assets/fonts/BPG Nino Mtavruli.otf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IngiriArial';
  src: url("/public/assets/fonts/BPG Ingiri Arial.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
