@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    color: #353535;
    font-family: IngiriArial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100%
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: unset;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

label, a, p {
    font-family: IngiriArial, sans-serif;
}

hr {
    border-top: 1px solid #B6A2E1;
}
